%p
  %b Nombre:
  = @operative_plan.name
%p
  %b Descripción:
  = @operative_plan.description
%hr
- @operative_plan.advances.each do |op|
  %b= op.name
  %p= op.description
  %hr

= link_to 'Editar', edit_operative_plan_path(@operative_plan)
\|
= link_to 'Atrás', operative_plans_path
