= form_for @payment do |f|
  .field
    = f.label :name, 'Nombre'
    = f.text_field :name
  .field
    = f.label :description, 'Descripción'
    = f.text_area :description
  .field
    = f.label :info, 'Documentos de soporte'
    = f.text_area :info
  .actions
    = f.submit 'Guardar'
