!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sarita
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = custom_bootstrap_flash
    %nav
      .nav-wrapper.container
        %a.brand-logo{:href=>"/"} Sarita
        %ul#nav-mobile.right.hide-on-med-and-down
          %li=link_to "Inicio", root_path
          - if user_signed_in?
            %li=link_to "Planes operativos", operative_plans_path
            - if current_user.admin?
              %li=link_to "Avances", advances_path
            %li=link_to "Cerrar sesión", destroy_user_session_path, method: :delete
          - else
            %li=link_to "Iniciar sesión", new_user_session_path
    .container
      = yield
